@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap');

body {
    /*background gradient*/
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    /*violet to blue*/
    background-attachment: fixed;
    height: 100%;
    width: 100%;

    /*text*/
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

    /*center things in screen*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
}

.card {
    background-color: white;
    border-radius: 1rem;
    height: 60%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    padding: 1rem;

    &__illustration {
        width: 45%;
        margin: 1rem 3rem 1rem 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &__text {
        width: 55%;
        margin: 1rem 1rem;
        color: hsl(237, 12%, 33%);
    }
}

.boxImg {
    position: absolute;
    margin-right: 34rem;
    margin-top: 4rem;
    z-index: 20;
}

.womanImg {
    position: absolute;
    margin-right: 16.5rem;
    z-index: 10;
    clip: rect(0rem, 100rem, 100rem, 6rem);
}

.accordion {
    border: none;
    background-color: transparent;
    color: hsl(240, 6%, 50%);
    font-weight: 700;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.active,
.accordion:hover {
    color: hsl(237, 12%, 33%);
}

.accordion:after {
    /*down arrow*/
    content: image-set("../images/icon-arrow-down.svg");
    display: inline-block;
    margin: auto;
    padding: 5px;
}

.active:after {
    /*up arrow*/
    content: image-set("../images/icon-arrow-down.svg");
    display: inline-block;
    transform: rotate(180deg);
    /*
        Inline elements can't be transformed, and pseudo elements are inline by 
        default, so you must apply display: block or display: inline-block to 
        transform them
    */
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    padding: 5px;
}

.attribution {
    text-align: center;
    font-size: 11px;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    /*links*/
}

@media only screen and (max-width: 375px) {
    body{
        margin:auto;
        padding:auto;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;

        &__illustration {
            height:20%;
            width: 60%;
            margin: auto;
            padding: auto;
        }
    }

    .boxImg {
        position: absolute;
        margin-right: 0;
        margin-top: 0;
        z-index: 20;
        width: 40%;
    }

    .womanImg {
        position: absolute;
        margin-right: 0rem;
        z-index: 0rem;
        clip: rect(0rem, 100rem, 100rem, 0rem);
        overflow-x: hidden;
        width: 95%;
    }
}