@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap");
body {
  /*background gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  /*violet to blue*/
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  /*text*/
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  /*center things in screen*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
}

.card {
  background-color: white;
  border-radius: 1rem;
  height: 60%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 1rem;
}

.card__illustration {
  width: 45%;
  margin: 1rem 3rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__text {
  width: 55%;
  margin: 1rem 1rem;
  color: #4a4b5e;
}

.boxImg {
  position: absolute;
  margin-right: 34rem;
  margin-top: 4rem;
  z-index: 20;
}

.womanImg {
  position: absolute;
  margin-right: 16.5rem;
  z-index: 10;
  clip: rect(0rem, 100rem, 100rem, 6rem);
}

.accordion {
  border: none;
  background-color: transparent;
  color: #787887;
  font-weight: 700;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.active,
.accordion:hover {
  color: #4a4b5e;
}

.accordion:after {
  /*down arrow*/
  content: -webkit-image-set("../images/icon-arrow-down.svg");
  content: image-set("../images/icon-arrow-down.svg");
  display: inline-block;
  margin: auto;
  padding: 5px;
}

.active:after {
  /*up arrow*/
  content: -webkit-image-set("../images/icon-arrow-down.svg");
  content: image-set("../images/icon-arrow-down.svg");
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  /*
        Inline elements can't be transformed, and pseudo elements are inline by 
        default, so you must apply display: block or display: inline-block to 
        transform them
    */
}

.panel {
  display: none;
  overflow: hidden;
  font-size: 12px;
  color: #787887;
  padding: 5px;
}

.attribution {
  text-align: center;
  font-size: 11px;
  margin-top: 1rem;
}

.attribution a {
  color: #3e52a3;
  /*links*/
}

@media only screen and (max-width: 375px) {
  body {
    margin: auto;
    padding: auto;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .card__illustration {
    height: 20%;
    width: 60%;
    margin: auto;
    padding: auto;
  }
  .boxImg {
    position: absolute;
    margin-right: 0;
    margin-top: 0;
    z-index: 20;
    width: 40%;
  }
  .womanImg {
    position: absolute;
    margin-right: 0rem;
    z-index: 0rem;
    clip: rect(0rem, 100rem, 100rem, 0rem);
    overflow-x: hidden;
    width: 95%;
  }
}
/*# sourceMappingURL=sassStyles.css.map */