@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap');

body {
    /*background gradient*/
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    /*violet to blue*/
    background-attachment: fixed;
    height: 100%;
    width: 100%;

    /*text*/
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

    /*center things in screen*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
}

.card {
    background-color: white;
    border-radius: 1rem;
    height: 60%;
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    &__illustration {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &__text {
        width: 50%;
        margin: 1rem 1rem;
        color: hsl(237, 12%, 33%);

        &__accordion {
            &__header{
                font-size: 14px;
                border-bottom: 1px;
            }
            &__content {
                padding: 0 1rem;
                display: none;
                overflow: hidden;

                font-size: 12px;
                color: hsl(240, 6%, 50%);
            }
        }
    }
}

.accordion {
    border: none;
    background-color: transparent;
    color: hsl(240, 6%, 50%);
    font-weight: 700;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    color: hsl(237, 12%, 33%);
}

.attribution {
    text-align: center;
    font-size: 11px;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    /*links*/
}